---
layout: default
---
<div class="post">
  <header class="post-header">
    <h1 class="post-title">
      {% if site.title == 'blank' %}
        <span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }}
        {{ site.last_name }}
        <a href="/assets/pdf/cv.pdf" title="cv">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-file-cv" width="55" height="55" viewBox="0 0 24 24" stroke-width="1" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
          <path d="M14 3v4a1 1 0 0 0 1 1h4" />
          <path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z" />
          <path d="M11 12.5a1.5 1.5 0 0 0 -3 0v3a1.5 1.5 0 0 0 3 0" />
          <path d="M13 11l1.5 6l1.5 -6" />
          </svg>
        </a>
      {% else %}
        {{ site.title }}
      {% endif %}
    </h1>
    <p class="desc">{{ page.subtitle }} </p>
  </header>

  <article>
    {% if page.profile-about %}
      <div class="profile-about float-{% if page.profile-about.align == 'left' %}left{% else %}right{% endif %}">
        {% if page.profile-about.image %}
          {% assign profile_image_path = page.profile-about.image | prepend: 'assets/img/' %}
          {% if page.profile-about.image_circular %}
            {% assign profile_image_class = 'img-fluid z-depth-1 rounded-circle' %}
          {% else %}
            {% assign profile_image_class = 'img-fluid z-depth-1 rounded' %}
          {% endif %}
          {% capture sizes %}(min-width: {{site.max_width}}) {{ site.max_width | minus: 30 | times: 0.3}}px, (min-width: 576px) 30vw, 95vw"{% endcapture %}
          {%
            include figure.liquid loading="eager" path=profile_image_path class=profile_image_class sizes=sizes alt=page.profile-about.image
            cache_bust=true
          %}
        {% endif %}
        {% if page.profile-about.more_info %}
          <div class="text-center">
          <div class="more-info">
              {{ page.profile-about.more_info }} 
          </div>
          </div>
        {% endif %}
        {% if page.social %}
          <div class="social" style="font-size: 30px;">
            {% include social.liquid %}
          </div>
        {% endif %}
      </div>
    {% endif %}

    <div class="clearfix">
    {{ content }}
    </div>

    <!-- News -->
    {% if page.news and site.announcements.enabled %}
      <h2>
        <a href="{{ '/news/' | relative_url }}" style="color: black">news</a>
      </h2>
      {% include news.liquid limit=true %}
    {% endif %}

    <!-- Latest posts -->
    {% if site.latest_posts.enabled %}
      <h2>
        <a href="{{ '/blog/' | relative_url }}" style="color: inherit">latest posts</a>
      </h2>
      {% include latest_posts.liquid %}
    {% endif %}

    <!-- Selected papers -->
    {% if page.selected_papers %}
      <h2>
        <a href="{{ '/publications/' | relative_url }}" style="color: inherit">selected publications</a>
      </h2>
      {% include selected_papers.liquid %}
    {% endif %}

    <div class="social">
        <div class="contact-note">{{ site.contact_note }}</div>
    </div>

  </article>
</div>
